
# Backend API Base URL (proxied through /api in Vite development server)
VITE_API_BASE_URL=/api

# Backend Server Host URL
VITE_API_SERVER_URL=https://placerise.onrender.com

# Application Branding
VITE_APP_NAME=Placerise
