PORT=5000
MONGODB_URI=mongodb://lordarceus4068_db_user:Bf2wdwbdZvDDkN5S@ac-awvhvtg-shard-00-00.6zxopja.mongodb.net:27017,ac-awvhvtg-shard-00-01.6zxopja.mongodb.net:27017,ac-awvhvtg-shard-00-02.6zxopja.mongodb.net:27017/?ssl=true&replicaSet=atlas-bhfkfo-shard-0&authSource=admin&appName=Cluster0
JWT_SECRET=placerise_jwt_secret_key_change_in_production_2026
JWT_REFRESH_SECRET=placerise_jwt_refresh_secret_key_change_in_production_2026
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
CLIENT_URL=http://localhost:5173
NODE_ENV=development
